<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Test Page</title>
</head>
<body>

<p>현재 접속 중인 사용자 name : <span id="username" th:text="${name}"></span></p>
<p>현재 접속 중인 사용자 email : <span id="email" th:text="${email}"></span></p>
<p>현재 접속 중인 사용자 accessToken : <span id="accessToken" th:text="${accessToken}"></span></p>
<p>현재 접속 중인 사용자 refreshToken : <span id="refreshToken" th:text="${refreshToken}"></span></p>

<button onclick="confirmLogout()">
    <span class="text">로그아웃</span>
</button>

<script>

    async function getConfig() {
        try {
            const response = await fetch("/keycloak-config");
            if (!response.ok) {
                throw new Error("Failed to fetch keycloak config");
            }
            return await response.json();
        } catch (error) {
            console.error("Error fetching keycloak config:", error);
            throw error;
        }
    }

    function confirmLogout() {
        if (confirm("로그아웃 하시겠습니까?")) {
            logout();
        }
    }

    async function logout() {
        console.log("logout 함수 호출됨");

        try {
            const config = await getConfig();
            const keycloakUrl = config.keycloakUrl;
            const clientId = config.client_id;
            const clientSecret = config.client_secret;
            const refreshToken = config.refreshToken;
            const postLogoutRedirectUri = "/logout";

            const formBody = `client_id=${clientId}&refresh_token=${refreshToken}&client_secret=${clientSecret}&post_logout_redirect_uri=${postLogoutRedirectUri}`;

            const response = await fetch(keycloakUrl + "/realms/external/protocol/openid-connect/logout", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: formBody
            });

            if (response.status === 204) {
                console.log("로그아웃 성공");
                alert("로그아웃 성공. 로그인 페이지로 이동합니다.");
                window.location.href = postLogoutRedirectUri;
            } else {
                console.error("로그아웃 실패:", response.status);
            }
        } catch (error) {
            console.error("로그아웃 요청 중 오류 발생:", error);
        }
    }
</script>

</body>